<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <%# <%= file:///var/folders/v8/kvs17xhj7hq55nk9rczccv8c0000gn/T/TemporaryItems/NSIRD_screencaptureui_NcGQgI/Capture%20d%E2%80%99e%CC%81cran%202023-08-31%20a%CC%80%2017.43.37.png %>
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "avatar.png", style: "width: 54px; height: 51px; cover no-repeat;", alt: "Logo" %>
      <span style="display: flex; width: 166px; height: 38px; flex-direction: column; justify-content: center; color: var(--noir, #000); text-align: center; font-family: 'Fredoka One'; font-size: 24px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 0px;">Musicurious</span>
    <% end %>


      <ul class="navbar-nav me-auto">


        <li class="nav-item">
          <%= link_to "Map", map_path, class: "nav-link custom-map #{'active-button' if current_page?(map_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Catalog", instruments_path, class: "nav-link custom-catalog #{'active-button' if current_page?(instruments_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Discovery", discovery_instruments_path, class: "nav-link custom-discovery #{'active-button' if current_page?(discovery_instruments_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Quizz", quizz_path, class: "nav-link custom-quizz #{'active-button' if current_page?(quizz_path)}" %>
        </li>

      </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

<% unless (controller_name == "pages" && action_name == "home") ||
          (controller_name == "sessions" && action_name == "new") ||
          current_page?(quizz_path) %>
  <%= form_tag search_instruments_path, method: :get, class: "form-outline position-relative" do %>
    <i class="fas fa-search position-absolute" style="top: 50%; left: 15px; transform: translateY(-50%); color: gray;"></i>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search instruments (by name, family)", aria: { label: "Search" } %>
  <% end %>
<% end %>

        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimg.freepik.com%2Ficones-gratuites%2Fguitare_318-419057.jpg%3Fw%3D2000", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Favorites", favorites_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item custom-logout" %>
            </div>
          </div>
        <% else %>
            <div class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link custom-login" %>
            </div>

        <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    </div>
  </div>
</div>
