<div class="popup-container">
  <%= link_to instrument_path(instrument), style: "text-decoration: none;" do %>
    <div class= "map-pop-up">

      <div class= pop-up-info>
      <% if instrument.picture.attached? %>
          <div class="img-popup">
            <%= cl_image_tag instrument.picture.key, crop: :lfill, resize: :lpad, class: "popup-photo" %> <br>
          </div>
          <div class="info-popup">
          <h4><%=instrument.name%></h4> <br>
          <p><%= instrument.family %></p> <br>
          </div>
        <% else  %>
              <h4><%=instrument.name%></h4> <br>
              <p><%= instrument.family %></p> <br>
            </div>
      <% end %>

    </div>
  <% end %>
</div>
