
<div class="row cards-container" data-controller="filter">
  <div class="title">
    <%= "Instruments of the world at your fingertips" %>

    <!-- Bouton Filters -->
    <button class="filter-button" data-action="click->filter#toggleFilters">
      <i class="fa fa-sliders"></i> Filters
    </button>




    <!-- Panneau de filtres -->
    <%= form_with url: instruments_path, method: :get, class: "filters-panel", id: "filtersPanel" do %>
      <div class="filter-category">
        <h3>Geographic Zone:</h3>
        <div class="filter-options">
          <% ["North America", "South America", "Europe", "Africa", "Middle East", "Central Asia and East Asia", "South Asia", "Oceania"].each do |zone| %>

            <label>
              <input class="tag-selector" type="checkbox" name="zones[]" value="<%= zone %>" <%= 'checked' if params[:zones]&.include?(zone) %>>
              <span><%= zone %></span>
            </label>

          <% end %>
        </div>
      </div>
      <div class="filter-category">
        <h3>Family Instrument:</h3>
        <div class="filter-options">
          <% ["String", "Percussion", "Woodwind", "Brass"].each do |family| %>

            <label>
              <input class= tag-selector type="checkbox" name="families[]" value="<%= family %>" <%= 'checked' if params[:families]&.include?(family) %>>
              <span><%= family %></span>
            </label>

          <% end %>
        </div>






        <!-- Bouton Submit -->
        <button class="submit-button">Submit</button>
      </div>
    <% end %>
  </div>

  <div class="cards-container">
    <% if @instruments.empty? %>
      <p class="no-instruments-message">No instruments found for "<%= params[:query] %>".</p>
    <% else %>
      <% @instruments.each do |instrument| %>
        <div class="s-card">
          <%# IMG %>
          <div class="s-card-image" style="background-image: url(<%= cl_image_path(instrument.picture.key, crop: :fill) %>);">
            <div class="geographical-region"><%= instrument.geographical_region %></div>
            <%= link_to "About", instrument_path(instrument), class: "m-btn-primary" %>
          </div>
          <%# INFOS %>
          <div class="s-card-body">
            <h4><strong><%= instrument.name %></strong></h4>
            <p class="s-card-text">
              <em><%= instrument.family %></em> <br>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
