
<div class="cards-container catalog-instru" data-controller="filter">
  <div class="title-card title d-flex justify-content-between">
    <p>
      Instruments of the world at your fingertips
    </p>
      <!-- Bouton Filters -->
    <button class="filter-button" data-action="click->filter#toggleFilters">
      <i class="fa fa-sliders"></i> Filters
    </button>

    <!-- Panneau de filtres -->
    <%= form_with url: instruments_path, method: :get, class: "filters-panel", id: "filtersPanel" do %>

      <!-- Section Favourites -->
      <div class="filter-category favourite-category">
        <h3>Favourites</h3>
        <div class="filter-options d-flex">
          <div class="custo">
            <input class="toggle" type="checkbox" id="favourite" name="favourite" value="1"
              <%= 'checked' if params[:favourite] == "1" %>
            <input class="toggle" type="checkbox" id="favourite" name="favourite" value="1"
              <%= 'checked' if params[:favourite] == "1" %>
              data-action="change->filter#submitFormOnChange"
              data-target="filter.favourite">

            <label for="favourite"> <i class="fas fa-heart"></i> </label>
          </div>
        </div>
      </div>


      <div class="filter-category">
        <h3>Geographic Zone</h3>
        <div class="filter-options d-flex">
          <% ["North America", "South America", "Europe", "Africa", "Middle East", "Central Asia and East Asia", "South Asia", "Oceania"].each do |zone| %>
            <div class="custo">
              <input id="geo-<%= zone %>" class="tag-selector" type="checkbox" name="zones[]" value="<%= zone %>" <%= 'checked' if params[:zones]&.include?(zone) %>>
              <label for="geo-<%= zone %>"><%= zone %></label>
            </div>

          <% end %>
        </div>
      </div>

      <div class="filter-category second-category">
        <h3>Family Instrument</h3>
        <div class="filter-options d-flex">
          <% ["Strings", "Percussions", "Woodwinds", "Brass"].each do |family| %>
            <div class="custo">
              <input id="instru-<%= family %>" class= tag-selector type="checkbox" name="families[]" value="<%= family %>" <%= 'checked' if params[:families]&.include?(family) %>>
              <label for="instru-<%= family %>"><%= family %></label>
            </div>
          <% end %>
        </div>

          <!-- Bouton Submit -->
        <button class="submit-button">Submit</button>
      </div>
    <% end %>
  </div>


  <div class="cards-container">
  <%# <% if @instrument.instrument.picture.attached? %>
    <% if @instruments.empty? %>
      <p class="no-instruments-message">No instruments found for "<%= params[:query] %>".</p>
    <% else %>

      <% @instruments.each do |instrument| %>
        <div class="s-card">
          <%# IMG %>
          <div class="s-card-image" style="background-image: url(<%= cl_image_path(instrument.picture.key, crop: :fill) %>);">
            <div class="geographical-region"><%= instrument.geographical_region %></div>
            <%= link_to "About", instrument_path(instrument), class: "m-btn-primary" %>
          </div>
          <%# INFOS %>
          <div class="s-card-body">
            <div class="">
              <h4><strong><%= instrument.name %></strong></h4>
              <p class="s-card-text">
                <em><%= instrument.family %></em> <br>
              </p>
            </div>
            <div class="like-cards" data-controller="likebutton">
              <%= link_to instrument_favorites_path(instrument), data: {turbo_method: :post} do %>
                <% if Favorite.where(user: current_user, instrument: instrument).present? %>
                  <i data-action = "click->likebutton#heart"data-likebutton-target="button"class="fa-solid fa-heart discover-heart all-heart"style="color: #027f8a;"></i>
                <% else %>
                  <i data-action = "click->likebutton#heart"data-likebutton-target="button"class="fa-regular fa-heart discover-heart all-heart"style="color: #027f8a;"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
