<div class="row cards-container">
  <div class="title">
    <%= "Instruments of the world at your fingertips" %>
  </div>
  <div class="cards-container">
    <% if @instruments.empty? %>
      <p class="no-instruments-message">No instruments found for "<%= params[:query] %>".</p>
    <% else %>
      <% @instruments.each do |instrument| %>
        <div class="s-card">
          <%# IMG %>
          <div class="s-card-image" style="background-image: url(<%= cl_image_path(instrument.picture.key, crop: :fill) %>);">
            <div class="geographical-region"><%= instrument.geographical_region %></div>
            <%= link_to "About", instrument_path(instrument), class: "m-btn-primary" %>
          </div>

          <%# INFOS %>
          <div class="s-card-body">
            <h4><strong><%= instrument.name %></strong></h4>
            <p class="s-card-text">
              <em><%= instrument.family %></em> <br>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
