<div class="instrument-show-container">
  <div class="instrument-info">
    <div class="instrument-photo-container">
      <%= cl_image_tag @instrument.photos.first.key, crop: :lfill, resize: :lpad %>
    </div>
  </div>

<%= link_to instrument_favorites_path(@instrument),
  data: { turbo_method: :post } do %>
    <i class="fa-regular fa-heart"></i>
  <% end %>

  <div class="instrument-description">
    <h2><%= @instrument.name %></h2>
    <p><strong>Family:</strong> <%= @instrument.family %></p>
    <p><strong>Tessitura:</strong> <%= @instrument.tessitura %></p>
    <p><strong>Materials:</strong> <%= @instrument.materials %></p>
    <p><strong>Origins:</strong> <%= @instrument.origins %></p>
    <p><strong>More Info:</strong> <%= @instrument.more_info %></p>
    <p><strong>Geographical Region:</strong> <%= @instrument.geographical_region %></p>
    <p><strong>Town:</strong> <%= @instrument.town %></p>
  </div>

  <div class="instrument-info">
    <div class="instrument-photo-container">
      <%= cl_image_tag @instrument.picture.key, crop: :lfill, resize: :lpad %>
    </div>
  </div>

  <div class="instrument-video"></div>
</div>
